* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	outline: none;
	border: none;
}


a {
	text-decoration: none;
	color: black;
}

html, body {
	padding: 0 .7em;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

@font-face {
	font-family: 'interReg';
	src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'interExBold';
	src: url('assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');
}

.img-100 {
	width: 100%;
}

.text-lh-30 {
 line-height: 30px;
}

.text-bold {
	font-family: interExBold;
}
/* end of reset */

.container main {
	display: grid;
	row-gap: 60px;
	padding-bottom: 1em;
}

/* navbar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	padding: 1.5em 1em;
	position: relative;
}

nav .nav-items-container {
	position: absolute;
	transition: .4s;
	top: 0;
	right: 0;
	width: 65vw;
	height: 100vh;
	padding:  2em 1.5em 2em;
	display: grid;
	align-items: start;
	align-content: start;
	row-gap: 100px;
	color: black;
	z-index: 100;
	background-color: white;
	transform: translateX(2000px);
}

nav .nav-items-container img {
 justify-self: end;
}

nav ul {
	display: grid;
	align-content: space-around;
	height: 35vh;
}
/* end of navbar */

/* header */
header {
	display: grid;
	row-gap: 20px;
}

header p {
	letter-spacing: .055rem;
	color: rgba(56, 56, 58, 0.8);
}

header button {
	color: white;
	letter-spacing: .343rem;
	padding: 1em 2em;
	background-color: hsl(5, 85%, 63%);
	justify-self: start;
}
/* end of header */

/* news new */
.news-new {
	display: grid;
	row-gap: 20px;
	background-color: hsl(240, 100%, 5%);
	color: white;
	padding: 2em 1em;
}

.news-new a {
	color: white;
}

.news-new {
	color: rgba(170, 170, 170, 1);
}

.news-new h2 {
	color: hsl(35, 77%, 62%);
}

.news-new .content {
	display: grid;
	row-gap: 10px;
	padding-bottom: 1em;
	justify-items: start;
	border-bottom: 2px solid rgba(56, 56, 58, 0.8);
}

.news-new .content:last-child {
 border: none;
 padding-bottom: 0;
}
/* end of news new */

/* category news */
.category-news {
	display: grid;
	row-gap: 30px;
}

.category-news img {
 width: 75%;
}

.category-news h2 {
 color: rgba(120, 120, 120, .4);
}

.category-news .content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.category-news .content .info-news {
	display: grid;
	align-content: space-around;
	row-gap: 10px;
}
/* end of category news */


/* responsive breakpoint */
@media (min-width: 850px) {
 
 html, body {
  padding: 0 2em;
  display: grid;
  justify-items: center;
 } 
 
 nav .opn-menu,
 nav .cls-menu {
  display: none;
 }
 
 nav .nav-items-container {
  width: 45vw;
  position: static;
  transform: translateX(0);
  height: 100%;
  align-items: center;
  padding: 0;
 }
 
 nav .nav-items-container ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
 }
 
 nav .nav-items-container img {
  display: none;
 }
 
 main {
  display: grid;
  grid-template-areas: 
    "header news-new"
    "category category";
  justify-items: center;
 }
 
 main header {
  width: 100%;
  grid-area: header;
 }
 
 main .news-new {
  width: 85%;
  grid-area: news-new;
  justify-self: end;
 }
 
 main .category-news {
  grid-template-columns: 1fr 1fr;
  grid-area: category;
 }
}

@media (min-width: 1024px) {
 main .category-news {
  grid-template-columns: 1fr 1fr 1fr;
 }
}







